<!doctype html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>i377</title>

    <style type="text/css">
        .ng-cloak { display: none !important; }
    </style>
</head>

<body class="ng-cloak" ng-app="app" ng-controller="CustomerCtrl as vm">

<div ng-repeat="error in vm.errors" style="background-color: red">
    {{ error }}<br />
</div>

<label for="firstName">Firstname</label>
<input id="firstName" ng-model="vm.newCustomer.firstName"><br>

<label for="lastName">Lastname</label>
<input id="lastName" ng-model="vm.newCustomer.lastName"><br>

<label for="code">Code</label>
<input id="code" ng-model="vm.newCustomer.code"><br>

<button ng-click="vm.insertNew()">Lisa uus</button>

<br><br><br>

<div ng-repeat="customer in vm.customers">
    {{ customer.firstName }}, {{ customer.lastName }}, {{ customer.code }} <a href ng-click="vm.deleteCustomer(customer.id)">X</a>
</div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/http.srv.js"></script>
<script src="app/message.srv.js"></script>
<script src="app/customer.ctrl.js"></script>

</html>
